
.login-wrapper{
    /* background-image: linear-gradient(to bottom right, #0c0c0cbf, #522e73); */
    background-image: url(/images/background.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top -5px center;
}
.login-wrapper .row{
margin-top: 150px;
margin-bottom: 320px;
}
.login-wrapper .card{
   background-color:rgba(0,0,0,0.7);
   border-radius: 15px;
    box-shadow: 3px 14px 10px;
}
.login-wrapper .card h4{
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: initial;   
    padding-bottom: 30px;
    padding-top: 10px;
 }
 .login-alert{
    /* background-image: linear-gradient(to bottom right, #0c0c0cbf, #522e73); */
    background-image: url(/images/background.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top -5px center;
}
 .login-alert .row{
    margin-top:10px;
    margin-bottom: 10px;
    }
    .login-alert .card{
       background-color:rgba(0,0,0,0.7);
       border-radius: 15px;
        box-shadow: 3px 14px 10px;
    }
    .login-alert .card h4{
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: initial;   
        padding-bottom: 30px;
        padding-top: 10px;
     }
     .login-alert label{
         color: wheat !important;
     }
     .login-alert input{
         font-weight: bold;
         color: black;
         font-size: 20px;
     }
.center{
    text-align: center;
}

.login-wrapper .control-label{
    color: white !important;
    font-family: cursive;
}
.btn-submit{
    background-color: #447df7 !important;
    color: white !important;
    border-color: #447df7 !important;
    position: relative;
}
/* .btn-submit:hover{
    background-color: #1022ef;
    color: white;
    border-color: #1022ef;
}

.btn.btn-submit:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: rgba(0,0,0,0.2);
    z-index: 1;
    transition: all .3s;
}
.btn-submit:hover:after{
    width: 100%;
} */

.Institute_Info_wrapperr .card .title{ 
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

.buttons-wrapper{
    text-align: center;
}
.buttons-wrapper button{
    margin-left: 5px;
}


  .rules_textArea{
    width: 100%;
    border: 1px solid #6f6f6f;
    border-radius: 2px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .fileLabel {
    font-size: 15px;
    background-color: #f1736d;
    border-radius: 15px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
  }
  
  .fileLabel {
    cursor: pointer; /* "hand" cursor */
  }
  
  .register_student_group-title{
    text-align: center;
    border: 1px solid #373738;
    padding: 10px;
    border-radius: 2px;
    background: #373738;
    color: white;
    font-size: 17px;
    font-family: cursive;
    margin-bottom: 5px;
  }
  
  .control-label{
      color: black !important;
  }


  /* loading */
  .loader {
    width: 20em;
    height: 20em;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999999999;

}
.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
    
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: #232425;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: #232425;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}
 
.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}

/* end of loading */


.example-enter {
    opacity: 0.01;
  }
 
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
 
 .example-leave {
    opacity: 1;
  }
 
 .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .student-toggle{
      font-weight: bolder;
      color: #fff;
      float:right;
      cursor: pointer;
      border-radius: 50%;
  }
  .student-toggle:hover{
      box-shadow: 0px 0px 5px 0 #d1d1d1;
  }
  .collapse-wrapper{
      margin-bottom: 5px;
  }

  .student_details_info_modal{
      width: 800px !important;;
  }
  .studentDetails_modal_header{
      font-weight: bolder;
      text-align: center;

  }
  .studentDetails_modal_header span{
      float: right !important;
  }
  .studentDetails_card .card{
      border: 2px solid gray !important
  }
  /* .class-wrapper .card.card-stats{
      background: url("/images/classRoom.jpg") no-repeat center center;
      background-size: cover;
  } */

  
 
   
   .class-btn-wrapper{
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 80px;
       margin: 0 auto;

   }
   
       .attendance-status-wrapper{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        margin: 0 auto;
       }
  
       .attendance-status-circle{
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
        background: #040303b0;
        color: white;
    }
    .present-btn{
        background-color: #9acd32;
        border-color:#9acd32;
    }
    .leave-btn{
        background-color: #9295ff;
        border-color: #9295ff;
    }
    .absent-btn{
        background-color: #f15a41;
        border-color: #f15a41;
    }

    .student-attendance-modal {
        width: 800px;
    }

    .sidebar .logo a.logo-normal{
font-size: 12px;
    }
     /**********************REACT TABLE CUSTOM STYLING********************************* */
    .react-table-custom-design .ReactTable .rt-thead {
        background: #373738;
        padding: 4px;
    }
    .react-table-custom-design .ReactTable .rt-thead .rt-th {
        color: white;
        font-weight: 600;
        font-family: inherit;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .react-table-custom-design .ReactTable .rt-thead .rt-resizable-header-content{
        overflow: unset !important;
        text-overflow: unset !important;
        white-space: normal !important;
    }

    .react-table-custom-design .ReactTable .rt-thead .rt-th, 
    .react-table-custom-design .ReactTable .rt-thead .rt-td{
        line-height:  1.3 !important;    
    }
    .react-table-custom-design .ReactTable .rt-tbody .rt-tr-group {
        border-bottom: solid 1px rgba(69, 69, 86, 0.22);
    }
    .react-table-custom-design input{
       color:black !important;
       background: white !important;
    }
    
    .react-table-custom-design .rt-td:last-child .table-action-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    /***********************************************************/

    .Institute_Info_wrapperr .card .header {
        background: #1a1b1b87 !important;
    }

/******************MODAL CUSTOM STYLING*****************************/
.modal-custom-wrapper .modal-header {
        border-bottom: 1px solid #e5e5e5;
        background: #858686;
        text-align: center;
    }
   .modal-custom-wrapper .modal-title {
        color: white;
        font-weight: bold;
        font-family:unset;
    }
   .modal-custom-wrapper .modal-header .close {
        margin-top: -2px;
        width: 25px;
        height: 25px;
        background: #b35223;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        opacity: 0.7;
    }
    .modal-custom-wrapper .modal-header .close:hover {
        opacity: 1;
    }
    /*****************************************************************/


/* *****************SUBJECT STIPES STYLING*************************8 */
.circle-space .nav-circle{
    bottom: 0;
    /* width: 25px !important; */
    /* height: 25px !important; */
}
.circle-space {
	/* background-color: #fff; */
	position: relative;
	z-index: 20;
	display: inline-block;
}
.nav-circle{
    border-radius: 50%;
	margin: 0 auto;
    position: relative;
    bottom: 6px;
    color: white;
    font-weight: bold;
	font-size: 15px;
	line-height: 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}




.rc-steps-navigation{
   margin-bottom: 0px;
    width: 100%;
    overflow-x: scroll;
}
.rc-steps-navigation .rc-steps-item-active .rc-steps-item-container{
    border: 0;
}
.student-print-wrapper{
    padding: 30px;
}
.student-print-wrapper .header{
    padding: 20px;
    background: #cecece;
    border-radius: 2px;
    text-align: center;
    border-bottom: 2px solid #bfb3b3;
}
.student-print-wrapper .school-name{
    font-weight: bold;
    font-size: 18px;
}
.student-print-wrapper .body{
    padding-top: 20px;
}

.update-student-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.update-student-img input{
    width: 200px;
    padding: 6px;
    border: 1px solid #858686;
    border-radius: 14px;
    color: white;
    background: #858686;
}
.update-student-img .input-label{
    padding-right: 9px;
    width: 50px;
}
.table-action-btn-wrapper button {
margin: 0 0px;
}
.btstsyst {
    background: #444 !important;
    color: #fff !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    margin-left: 30px !important;
    float: left;
    padding: 8px 8px;
  }

  .react-table-custom-design .rt-tfoot{
   background: #373738 !important;
   color: white !important;
  }
  .react-table-custom-design .ReactTable .rt-thead .rt-th select{
      background: white;
  }

  .attendance-header-wrapper-btn{
   margin-top: 25px;
  }
  .sidebar .logo .simple-text{
    white-space:unset
  }

  .login-wrapper .about {
	 /* padding: 20px 0; */
}
 .login-wrapper .about .container {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .login-wrapper .about .box {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 0 10px;
	 border-right: 1px solid #667d83;
	 width: 20%;
}
 .login-wrapper .about .container .box:last-child {
	 border-right: 0;
}
 .login-wrapper .about .box span {
	 display: inline-block;
	 color: #76b729;
	 font-weight: bold;
	 font-size: 50px;
	 line-height: 50px;
	 padding-right: 20px;
}
 .login-wrapper .about .box h6 {
	 color: #fff;
	 font-size: 16px;
	 line-height: 25px;
	 text-align: left;
	 text-transform: capitalize;
	 margin: 20px 0 10px;
	 font-weight: bold;
}
.btn-right{
float:right;
} 
.btn-right-bottom{
    margin-right: 16px;
    margin-bottom: 5px;
}
.custom-table-wrapper > thead > tr{background-color: black;}
.custom-table-wrapper > thead > tr > th{color: #fff;padding: 10px;}

.capitalize-first{
    text-transform: capitalize;
}

.inline-section-wrapper{
    display: flex;
    align-items: center;

}
.inline-section-wrapper label{
    margin-right: 10px;
}
.inline-section-wrapper span{
    display: block;
    width: 100%;
}
.modal-back-color-wrapper{
    background: rgba(0, 0, 0, .5);
}
.unAuthorized-page-wrapper{
    /* background-image: linear-gradient(to bottom right, #0c0c0cbf, #522e73); */
    background-image: url(/images/full-screen-image-2.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 90vh;
}
    .unAuthorized-page-wrapper .card{
        margin-top: 30%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    box-shadow: 0px 5px 16px;
    color: white;
    transform: translate(0px, 80%);
}
.unAuthorized-page-wrapper .title{
    color: white  !important;
}
.unAuthorized-page-wrapper .header{
    text-align: center;
    border-bottom: 1px solid;
}
.unAuthorized-page-wrapper .row{
    text-align: center;
}
.unAuthorized-page-wrapper .center button{
  margin-top: 30px;
}
.client_receipt_wrapper .card .title{ 
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
}
.client_receipt_wrapper .card .header {
    background: #1a1b1b87 !important;
}
.client_receipt_wrapper .card .content .items-show {
    background: radial-gradient(#fdc90d, transparent);
    height: 200px;

}
.client_receipt_wrapper .card .content .recipt-show {
    background: radial-gradient(#fdc90d, transparent);
    max-height: 360px;
    overflow: scroll;
    overflow-x: hidden;

}

.css-1pcexqc-container {
    border: 1px solid #5a5252;
    border-radius: 5px;
}
.form-control{
    border: 1px solid #5a5252;
    border-radius: 5px;  
}
.inline-item{
    display: flex;
    justify-content: flex-end;
}
.sidebar .nav i{
    color: #e2f107 !important;
}
.css-kj6f9i-menu{
    font-weight: bold !important;
    color: #1a0d8c !important;
    background-color: #73ea82 !important;
    font-size: 16px !important;
}
.client_receipt_wrapper .setting_bar{
    background: #656564;
    border-radius: 5px;
}
.ReactTable .rt-tbody{
font-weight: bold;
font-size: 16px !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #fff;
    background: #e87a45 !important;
}
.new-client-recipt-wrapper .card .content {
    padding: 15px;
    background: radial-gradient(#1f04ff, transparent);
}
.red-color{
    color: red;
}

.table-action-btn-wrapper .btn-fill{
    margin-right: 4px;
}
.sidebar .nav p{
    font-size: 24px;
}
.account-header-btns button{
    font-weight: bold;
    font-size: 16px;
}
.urdu-btn-text button{
    font-weight: bold;
    font-size: 16px;
}
 .tbl-header .rt-th.rt-resizable-header{
    font-weight: bold;
    color: #1850ef;
    font-size: 20px;
 }

.urdu-labl{
  font-size: 18px !important;
  font-weight: bold !important;
}
.kata-item-waraper input{
    border: 2px solid #9291dc !important;
    font-weight: bold !important;
}
.kata-wrapper .card .header{
    text-align: center !important;
    background: #42cea0;
}
.kata-wrapper .card .header h4{
    color: #f10b36;
    font-weight: bold;
    font-size: 22px;
}
.kata-item-waraper .css-1g6gooi input{
    border: 0px solid white !important;
}
.user-details-header th{
    color: #f10b36 !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.ebook .css-dvua67-singleValue{
    font-size: 20px;
    font-weight: bold;
}
.ebook input{
    font-size: 20px;
    font-weight: bold;
}